.ul-sty{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-align:;
    list-style: none;
}

.head-sty{
justify-content: space-around;



}
.fast-sectoin{
    display: flex;
    justify-content: center;
}

.text-fast{
    height: 270px;
    width: 582px;
}
.h1-syl{
    text-size-adjust: 52;
}

.camera-img{
    background-image: i;
}



.button-sty{
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    padding: 10px 24px;
    
}

.logos-sty{
    justify-content: center;
    display: flex;
    justify-items: normal;
    height: 110;
    width: 1110;
    margin-top: 50px;
    
    
    
}

.photo-sty{
    /* justify-content: center; */
    /* display: grid; */
   
   /* width: 1047px;
   height: 1662px; */
   grid-template-columns: repeat(3,1fr);
   margin-top: 40px;
   display: grid;
   gap: 5rem;
   padding: 5%;
}

.Popular{
    text-align: center;
    margin-top: 100px;
}
.gear-img{
    
}

.gear-sec{
display: flex;
margin-top: 100px;
margin-bottom: 100px;
justify-content: center;
}
.gear-text{
    width: 610px;
    height: 224px;
    margin-left: 100px;
}

.Influencer-text{
    justify-content: center;
    text-align: center;
    width: 262px;
    height: 139px;
    padding: 30px;
    color: aliceblue;
    margin-left: 500px;
    
    
}
.button-sty2{
    border: none;
    padding: 10px 24px;
    background-color: #E02C6D ;
}

.Influencer{
    background-color: black;
    text-align: center;
}

.title-text{

}